*
{
  margin: 0;
  padding: 0;
}
header
{
background-image: url(bg.jpg);
height: 100vh;
background-size: cover;
background-position: center;
}

.main-nav
{
  float: right;
  list-style: none;
  margin-top: 60px;
  margin-right: 350px;
}
.main-nav li
{
    display: inline-block;
}
.main-nav li a
{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    font-family: "Roboto" , sans-serif;
    font-size: 15px;
}
.main-nav li.active a
{
    border: 0.5px solid white;
}
.main-nav li a:hover
{
    border: 0.5px solid white;
}
.row
{
    max-width: 1200px;
    margin: auto;
}
.head1
{
    font-family: 'vendettaregular';
    text-transform: none;
    font-size: 60px;
    color: white;
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top: 30px;
    margin-top: 30px;
    text-align: center;
}
.head2
{
    font-family: 'vendettaregular';
    text-transform: none;
    font-size: 40px;
    color: white;
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

@media only screen and (max-width: 736px)
{
    .main-nav
    {
      list-style: none;
      
      margin-top: 30px;
      margin-right: 0px;
    
    }
    .main-nav li a
   {
 
    padding: 4px 10px 10px;
    float: none;
    font-size: 10px;
   }
   .head1
   {
       text-align: center;
       font-size: 40px
   }
   .head2
   {
    text-align: center;
    font-size: 30px;
   }
}







